<h1>Foundation Sandbox</h1>

<div class="alert-box success">
	This is a success alert (div.alert-box.success).
	<a href="" class="close">&times;</a>
</div>

<p>
  <span class="blue radius label">Added 01/19</span> This paragraph has an inline label to let you know that it was added on January 19, 2012 courtesy of Thomas Klemm. Thanks man!
</p>

<p>
  <span class="has-tip bottom" id="interestingTip" data-width="210" title="Some small explanation or tidbit that would live within the tooltip. Should only work for simple text tips.">Has Tip Bottom</span>
</p>

<h3>More Amazing Stuff!</h3>
<div class="panel">
	<h5>My panel is bigger than yours.</h5>
	<p>Seriously, just look at this sweet panel.</p>
</div>

<h3>Tabs!</h3>
<dl class="nice tabs">
  <dd><a href="#simple1" class="active">Simple Tab 1</a></dd>
  <dd><a href="#simple2">Simple Tab 2</a></dd>
  <dd><a href="#simple3">Simple Tab 3</a></dd>
</dl>

<ul class="nice tabs-content">
  <li class="active" id="simple1Tab">This is simple tab 1's content. Pretty neat, huh?</li>
  <li id="simple2Tab">This is simple tab 2's content. Now you see it!</li>
  <li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
</ul>