<h2>Orbit Demo</h2>
<hr />

<div id="featured">
  <%= image_tag "http://placehold.it/1400x300&text=Slide_1" %>
  <%= image_tag "http://placehold.it/1400x300&text=Slide_2" %>
  <%= image_tag "http://placehold.it/1400x300&text=Slide_3" %>
</div>

<script type="text/javascript">
  $(window).load(function(){
    $("#featured").orbit();
  });
</script>